/* Estilos gerais da página */

body {
    font-family: 'Montserrat', sans-serif;
    /* Aplica a fonte Montserrat */
    background-color: #F5F6F8;
    /* Cor de fundo */
    color: #ffffff;
    /* Cor do texto para contraste com o fundo */
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: left;
    /* Garante que todos os elementos dentro do contêiner estejam alinhados à esquerda */
    width: 100%;
    /* Ajusta a largura do contêiner */
    max-width: 500px;
    /* ou a largura máxima que desejar */
    margin: auto;
    /* Centraliza o contêiner na página se necessário */
    padding: 20px;
    /* Espaçamento interno */
}

h1 {
    color: #323653;
    font-size: 22px;
    /* Aumento do tamanho da fonte do título */
    text-align: left;
    /* Alinhamento do título à esquerda */
    width: 100%;
    /* Garante que o título esteja alinhado à esquerda dentro do contêiner */
    margin-bottom: 30px;
    font-weight: 600;
}

h2 {
    color: #323653;
    font-size: 14px;
    /* Aumento do tamanho da fonte do título */
    text-align: left;
    /* Alinhamento do título à esquerda */
    width: 100%;
    /* Garante que o título esteja alinhado à esquerda dentro do contêiner */
    margin-bottom: 30px;
    margin-top: -10px;
    font-weight: lighter;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    cursor: pointer;
    /* Permite que a lista ocupe a largura total do contêiner */
}

li {
    background-color: #ffffff;
    /* Fundo das opções */
    border-radius: 15px;
    overflow: hidden;
    padding: 0px;
    /* Espaçamento uniforme dentro das opções */
    margin-bottom: 10px;
    /* Espaçamento entre as opções */
    text-align: left;
    /* Alinhamento de texto à esquerda para o conteúdo dentro de <li> */
    display: flex;
    /* Usa flexbox para alinhar os itens internos à esquerda */
    align-items: center;
    /* Centraliza verticalmente o conteúdo dentro do <li> */
    justify-content: flex-start;
    transition: background-color 0.4s, border-color 0.4s;
    /* Transição suave para hover */
    border: 2px solid transparent;
    /* Borda */
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #323653;
    font-size: 16px;
    /* Tamanho da fonte das opções */
    display: flex;
    align-items: center;
    /* Garante que o texto e as imagens estejam alinhados verticalmente */
    justify-content: flex-start;
    /* Alinha o conteúdo do link à esquerda */
    width: 100%;
    /* Permite que o link ocupe toda a largura do <li> */
}

a img {
    margin-right: 15px;
    /* Espaço entre a imagem e o texto */
    width: 70px;
    /* Tamanho da imagem */
    height: 70px;
    /* Tamanho da imagem */
    vertical-align: middle;
    /* Alinha verticalmente a imagem com o texto */
}

li:hover {
    background-color: #EDEFFC;
    /* Cor de fundo ao passar o mouse */
    border-color: #98A4FF;
    /* Cor da borda ao passar o mouse */
}

.progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

.progress-bar {
    height: 5px;
    background-color: #98A4FF;
    border-radius: 5px;
    transition: width 0.4s ease;
}

.button-container {
    text-align: center;
    /* Centraliza os botões horizontalmente */
    margin-top: 20px;
    /* Espaçamento entre os botões e as opções do quiz */
    width: 100%;
    /* Preenche toda a largura do contêiner */
    display: flex;
    /* Usa flexbox para facilitar o alinhamento e distribuição */
    justify-content: center;
    /* Centraliza os itens na direção horizontal */
}

button {
    border: none;
    /* Remove a borda padrão */
    padding: 15px 0;
    /* Padding vertical */
    margin-right: 10px;
    /* Espaçamento entre os botões */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    border-radius: 12px;
    /* Bordas arredondadas */
    flex-grow: 1;
    /* Permite que os botões cresçam igualmente e preencham o espaço */
    font-weight: 600;
}

button:last-child {
    margin-right: 0;
    /* Remove a margem direita do último botão para alinhamento adequado */
}

button:hover {
    opacity: 0.9;
    /* Efeito de opacidade ao passar o mouse */
}


/* Estilos específicos para cada botão */

button#voltar {
    background-color: #dadada;
    /* Cinza escuro para o botão Voltar */
    color: #ababab;
    font-size: 15px;
    font-weight: 100;
    /* Cor do texto */
}

button#avançar {
    background-color: #7A87F0;
    /* Azul padrão para o botão Avançar */
    color: #2A2F45;
    /* Cor do texto */
    font-size: 15px;
    font-weight: 100;
}

li.quiz-option.selected {
    background-color: #EDEFFC;
    /* Nova cor de fundo para opção selecionada */
    border-color: #98A4FF;
    /* Nova cor de borda para opção selecionada */
}

button:disabled {
    background-color: #87888e !important;
    /* Força a cor de fundo para o botão desabilitado */
    color: #d6d4d4 !important;
    /* Força a cor do texto para o botão desabilitado */
    cursor: not-allowed;
    /* Mantém o cursor como 'not-allowed' */
}

.quiz-option2 a {
    display: flex;
    /* Faz o link preencher todo o espaço do <li> */
    padding: 15px 20px;
    /* Adiciona espaçamento interno para melhor toque/clicabilidade */
    background-color: none;
    /* Define a cor do texto */
    text-decoration: none;
    /* Remove o sublinhado do texto */
    text-align: left;
    /* Alinha o texto ao centro */
    margin: 5px 0;
    /* Adiciona um espaçamento vertical entre as opções */
    border-radius: 8px;
    /* Arredonda os cantos do botão */
    transition: background-color 0.3s;
    /* Efeito suave ao mudar a cor de fundo */
}

.quiz-option2 a:hover {
    background-color: none;
    /* Muda a cor de fundo ao passar o mouse */
    cursor: pointer;
    /* Muda o cursor para indicar clicabilidade */
}

.selection-circle {
    height: 18px;
    width: 18px;
    background-color: transparent;
    /* Transparente por padrão */
    border-radius: 50%;
    border: 2px solid #98A4FF;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    /* Ajuste o tamanho do fonte para melhor centralização */
    color: #23301b;
    /* O texto é transparente inicialmente */
    margin-left: 10px;
    margin-right: 20px;
    /* Ajuste conforme necessário para alinhamento */
    transition: background-color 0.3s, color 0.3s;
    /* Transição suave para cor e fundo */
    line-height: 1;
    /* Assegura que a altura da linha seja igual à altura do círculo */
    vertical-align: middle;
    /* Centraliza verticalmente o texto dentro do flex container */
}

.quiz-option a.selected {
    background-color: none;
    /* Fundo mais claro para destacar */
    color: #ffffff;
    /* Cor de texto escuro para alto contraste */
    border-color: #98A4FF;
    /* Borda branca para destacar ainda mais */
}

.icon {
    margin-right: 20px;
    /* Reduz o espaçamento à direita do ícone */
    font-size: 28px;
    /* Tamanho do ícone ajustável conforme necessário */
    display: inline-block;
    /* Mantém o ícone como um bloco inline */
    vertical-align: middle;
    /* Alinha verticalmente o ícone com o texto */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* Ajuste conforme a necessidade */
    /* Cor de fundo opcional */
    padding-top: 20px;
    /* Espaçamento superior */
    padding-bottom: 50px;
    /* Espaçamento inferior */
}

.image-container img {
    max-width: 65%;
    /* Ajusta a largura da imagem para não ultrapassar o container */
    height: auto;
    /* Mantém a proporção da imagem */
}


/* Estilos para telas grandes (desktops) */

@media (min-width: 1024px) {
    .containe {
        max-width: 800px;
        /* Largura máxima maior para telas grandes */
    }
    l {
        padding: 0px 10px;
        /* Ajuste no padding para melhor espaçamento */
    }
}


/* Estilos para telas médias (tablets) */

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 600px;
    }
    li {
        padding: 5px 10px;
    }
}


/* Estilos para telas pequenas (smartphones) */

@media (max-width: 767px) {
    body {
        flex-direction: column;
        /* Altera a flex-direction para coluna */
        padding: 20px;
        /* Mais padding para espaçamento adequado */
        height: auto;
    }
    .container {
        width: 100%;
        /* Ajusta a largura para preencher o dispositivo */
        padding: 10px;
        /* Padding reduzido para pequenos dispositivos */
        margin: 0;
        /* Remove a margem para alinhamento */
    }
    h1 {
        font-size: 22px;
        /* Reduz o tamanho da fonte para cabeçalhos */
        margin-bottom: 30px;
    }
    h1 {
        font-size: 16px;
        /* Reduz o tamanho da fonte para cabeçalhos */
        margin-bottom: 30px;
    }
    li {
        padding: 0px;
        /* Menor padding dentro de cada li */
        font-size: 20px;
        /* Redução da fonte dentro da lista */
        border: none;
    }
    button {
        font-size: 16px;
        /* Tamanho de fonte menor para botões */
        padding: 15px 0;
        /* Ajuste na padding vertical para botões */
    }
    a img {
        width: 70px;
        /* Reduz o tamanho das imagens */
        height: 70px;
    }
    .image-container {
        height: 150px;
        /* Altura reduzida para celular */
    }
}

@media (max-width: 600px) {
    .icon {
        font-size: 20px;
        /* Tamanho menor do ícone para telas pequenas */
        margin-right: 3px;
        /* Espaçamento ainda menor para telas pequenas */
    }
}