.header {
    background-color: #003366;
    color: white;
    padding: 20px; /* Reduzimos o padding para evitar a invasão */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.header img {
    height: 60px; /* Ajusta a altura da logo */
    margin: 0 auto; /* Centraliza a logo horizontalmente */
    display: block; /* Garante que a imagem se comporte como bloco */
    margin-top: 10px; /* Espaçamento superior */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.menu {
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    padding: 6px 0;
    flex-wrap: wrap; /* Garante que o menu não quebre a linha no mobile */
    border-top: 15px solid #0ccc05;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}
