/* Estilos gerais da página */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F6F8;
    color: #004c5e;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.container {
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 10px;
}
.container p{
    font-size: 18px ;
    font-weight: 400;
    text-align: center;
}

/* Centraliza o logo */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Estilo do logotipo */
.logo {
    max-width: 250px;
    width: 100%;
    height: auto;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
    text-transform:uppercase
}
h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    text-transform:uppercase;
    margin-bottom: -15px;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    cursor: pointer;
}

li {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid transparent;
    transition: background-color 0.4s, border-color 0.4s;
}

li:hover {
    background-color: #EDEFFC;
    border-color: #004c5e;
}

a {
    text-decoration: none;
    color: #00262e;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    font-size: 16px;
    font-weight: 500;
}

.progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px 0 30px;
}

.progress-bar {
    height: 8px;
    background-color: #004c5e;
    border-radius: 5px;
    transition: width 0.4s ease;
}


.close {
    color: #aaa;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}


/* Estilo do botão principal */
.button {
    background-color: #004c5e;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    display: flex; /* Altera de block para flex para melhor controle */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
    margin: 20px auto;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    width: auto; /* Define uma largura fixa para evitar que o botão extrapole */
    max-width: 80%; /* Garante que o botão nunca ultrapasse o contêiner */
}

/* Efeito de hover */
.button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Efeito de pulsação contínua */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 76, 94, 0.5);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 76, 94, 0.7);
    }
}

.button {
    animation: pulse 1s infinite;
}


.selection-circle { 
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 100%;
    border: 3px solid #004c5e;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
    flex-shrink: 0; /* Evita que o círculo se deforme */
}

/* Estilos para quando a opção é selecionada (gerenciado pelo JavaScript) */
.quiz-option a.selected .selection-circle {
    background-color: #004c5e; /* Muda a cor de fundo quando selecionado */
    color: #ffffff; /* Cor do texto dentro do círculo */
}
/* Estilo do botão único */
.single-button {
    background-color: #004c5e;
    border-radius: 15px;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    transition: background-color 0.4s, border-color 0.4s;
    cursor: pointer;
    display: block; /* Garantir que o botão ocupe toda a largura do contêiner */
    text-align: center; /* Centralizar o texto */
    width: 250px; /* Define uma largura fixa para o botão */
    margin: 0 auto; /* Centraliza o botão na tela */
}

.single-button:hover {
    background-color: #004c5e;
    border-color: #001c22;
}
/* Container da Imagem */
.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Espaço entre a imagem e o botão */
}

/* Estilo da Imagem */
.quiz-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 15px; /* Bordas arredondadas para seguir o estilo do site */
}

/* Estilo da lista transformada em parágrafos */
.paragraph-list p {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 5px 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    transition: background-color 0.4s, border-color 0.4s;
    font-size: 18px;
    
}

.paragraph-list p:hover {
    background-color: #EDEFFC;
    border-color: #001c22;
}

/* Estilo do ícone de check */
.check-icon {
    margin-right: 10px;
}
/* Container da barra de progresso */
.progress-bar-container {
    position: relative;
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px 0;
    height: 20px;
    overflow: hidden;
}

/* Barra de Progresso Animada */
.progress-bar-animated {
    height: 100%;
    width: 0%;
    background-color: #66BB6A;
}


/* Texto de Progresso */
.progress-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #004c5e;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.result-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: auto;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Flexbox Container */
.result-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Ícone */
.result-icon {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* Título e Score Container */
.title-score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Título Principal */
.result-title {
    font-size: 26px;
    margin-right: 15px;
}

/* Estilo por bloco */
.bloco-1 .result-title { color: #3B48EE; }
.bloco-2 .result-title { color: #FF5733; }
.bloco-3 .result-title { color: #FFC300; }
.bloco-4 .result-title { color: #28A745; }

/* Nota */
.result-score {
    font-size: 20px;
    font-weight: bold;
}
.privacy-warning {
    font-size: 14px !important;
    color: #001c22;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Footer Estilo */ 
.footer {
    margin-top: 80px;
    padding: 20px 0;
    text-align: center;
    color: #004c5e;
}

/* Container do Footer */
.footer-container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza todo o conteúdo */
    gap: 10px;
}

/* Links do Footer */
.footer-links {
    display: flex; /* Alinha os links horizontalmente */
    gap: 10px;
    justify-content: center; 
    align-items: center; 
}

/* Links específicos do Footer para evitar conflito */
.footer .footer-links a {
    color: #004c5e !important; /* Sobrescreve o CSS global */
    text-decoration: none;
    font-size: 14px;
    display: inline; /* Remove o display: flex que está aplicado globalmente */
    font-weight: normal; /* Remove o peso extra */
}


/* Parágrafo do Footer */
.footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}
