body {
    font-family: 'Roboto Condensed', serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}

.background-section {
    background-image: url('img/hero-banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
}

.headline {
    width: 100%;
    text-align: center;
	margin-top: 20px;
    margin-bottom: 20px;
}

.headline img {
    width: 60%;
    height: auto;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto; /* Centraliza o container */
    margin-bottom: 40px;
}

.urgencia {
    background-color: #ffffff;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    width: 80%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.urgencia h1 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 900;
}

.urgencia h2 {
    color: #d30000;
    font-size: 24px;
    font-weight: bold;
}

.urgencia p {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 100;
}

#stock-count {
    font-weight: bold;
    color: #d30000;
    font-size: 24px;
}

.buy-now-button {
    background-color: #FFD700;
    color: #000;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    border-bottom: solid 5px #272727;
}

.references-container {
    width: 100%;
    background-color: #fff;
    padding: 0;
    color: #1F1F1F;
    text-align: center;
}

.references {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
}

.references h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.references .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.references .images img {
    max-width: 100%;
    height: auto;
}

.study-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.study-list .column {
    flex: 1;
    min-width: 250px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 0 10px;
}

.study-list li {
    color: #929292;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

footer {
    width: 100%;
    background-color: #fff;
    padding: 40px 0;
    color: #929292;
}

.footer-content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

.footer-content a {
    color: #929292;
    text-decoration: none;
    margin: 0 5px;
}

.footer-content p {
    margin: 10px 0;
}

/* Media queries for smaller devices */
@media (max-width: 600px) {
    .container,
    .footer-content,
    .references {
        width: 95%;
        max-width: none;
    }

    .headline img {
        width: 95%;
    }

	.references .images {
        flex-direction: column;
        align-items: center;
    }

    .study-list {
        flex-direction: column;
        .study-list .column {
            min-width: 100%;
            padding: 0;
        }
    }
}
