body {
	font-family: 'Roboto', serif;
	background-color: #779947;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	margin: 0;
}

.container {
	width: 80%;
	max-width: 900px;
	text-align: center;
	margin-bottom: 40px;
}

.headline {
	width: 100%;
	/* Define a largura da div 'headline' */
	text-align: center;
	/* Centraliza o conteúdo */
	margin-bottom: 20px;
	/* Espaço abaixo da div */
}

.headline img {
	width: 60%;
	/* Define a largura da imagem dentro da div 'headline' */
	height: auto;
	/* Mantém a proporção da imagem */
}


footer {
	width: 100%;
	background-color: #F7F7F7;
	padding: 40px 0;
	color: #929292;
}

.footer-content {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}

.footer-content a {
	color: #929292;
	text-decoration: none;
	margin: 0 5px;
}

.footer-content p {
	margin: 10px 0;
}

/* Media queries for smaller devices */
@media (max-width: 600px) {

	.container,
	.footer-content{
		width: 95%;
		max-width: none;
	}

	.headline img {
		width: 95%;
	}

	body {
		padding-top: 20px;

}
}